@tailwind base;
@tailwind components;
@tailwind utilities;


/* NavBar */
@layer components {
  body {
    @apply h-screen;
    background: url('/backgroundImage.svg'), black;
    background-repeat: repeat;
    background-size: 100%;
    background-image: linear-gradient(to bottom, url('/backgroundImage.svg'));
  }


  nav li {
    @apply text-accent border-b-2 border-transparent hover:border-b-2 hover:border-secondary py-2 ;
  }
  
  nav ul {
    @apply flex flex-wrap space-x-8 pb-0;
  }
  nav, .social-icon {
    @apply flex  gap-8;
  }
  nav {
    @apply mx-auto fixed bg-black bg-opacity-20 backdrop-blur-lg shadow-lg z-40;
  }
  nav, .nav {
    @apply flex w-full px-10 items-center justify-between py-4;
  }
  
  nav, .nav-links {
    @apply flex items-center space-x-16;
  }
  nav, .links {
    @apply flex items-center space-x-16;
  }
  nav, .social-link {
    @apply cursor-pointer;
  }
}
/* NavBar */

/* Hero section */
  header {
    @apply mx-auto pt-64;
  }
  header, .hero-body {
    @apply w-full px-10 flex flex-row items-center justify-between ;
  }
  header h1 {
    @apply text-6xl font-bold w-2/3;
  }
  header p {
    @apply text-2xl w-2/3;
  }

   h1, p {
    @apply text-accent  
  }
  .hero-content {
    @apply space-y-12 w-2/3;
  }
  .hero-text {
    @apply space-y-4 ;
  }

  .primary-button {
    @apply bg-secondary ;
  }
  .primary-button:hover {
    @apply bg-background;
  }
  .secondary-button {
    @apply bg-accent;
  }

  button {
    @apply  px-8 py-2 rounded-xl text-sm font-semibold;
  }
  .hero-button {
    @apply flex space-x-12;
  }
/* Hero section */

/* Section */
  article {
    @apply mx-auto mt-40 ;
  }
  .article-head {
    @apply space-y-4
  }
  .article-head h2 {
    @apply text-4xl text-accent text-center font-bold w-1/2 mx-auto;
  }
  .article-head p {
    @apply text-2xl text-secondary text-center font-medium
  }
  .article-head span {
    @apply  text-4xl text-light_green text-center font-bold 
  }
  .article-text h3 {
    @apply text-2xl text-accent text-right font-bold;
  }
  .article-text p {
    @apply text-sm text-primary text-right font-medium
  }
  .article-text {
    @apply bg-gradient-to-r from-transparent to-secondary  mt-24 mb-24 p-4 rounded-xl w-full ;
  }
  .article-main {
    @apply flex flex-row items-center justify-evenly pt-24 px-16; 
  }
  .article-image {
    @apply    z-30	;
  }
  .article-body {
    @apply   w-1/2	;
  }


  /* Card */

  .card-container {
    @apply grid grid-cols-4 gap-y-8 gap-x-4 mx-auto mx-20;
  }
  .card-container h1{
    @apply text-4xl font-bold;
  }
  .card-direction {
    @apply flex;
  }
  .card-body {
    @apply p-4 bg-black space-y-4 border-2 rounded-xl w-full  shadow-[0_0px_5px_5px_rgba(0,0,0,0.3)] shadow-secondary;
  }
  .coin-name {
    @apply flex space-x-4;
  }
  .price {
    @apply flex flex-col space-y-2;
  }
  .price-body {
    @apply flex flex-row items-center justify-between;
  }
  .coin-text {
    @apply flex flex-row items-center justify-between space-x-2;
  }
  .coin-detail {
    @apply flex flex-row items-center justify-between space-x-2;
  }
  .coin-name span p {
    @apply flex flex-wrap flex-row bg-dark_arches p-1 rounded-sm text-xs font-semibold;
  }
  .price h1 {
    @apply text-xl font-medium;
  }
  .coin-name h1 {
    @apply text-sm font-semibold;
  }
  .price span p {
    @apply  text-accent p-1 text-xs font-medium;
  }

  /* Form */

  form {
    @apply flex flex-col items-center my-32;
  }
  .form-body {
    @apply flex flex-col items-center bg-black bg-opacity-10 backdrop-blur-sm shadow-lg shadow-[0_0px_5px_5px_rgba(0,0,0,0.3)] shadow-dark_green rounded-lg mx-20 p-16;
  }
  form h2 {
    @apply text-4xl text-accent text-center font-bold mx-auto;
  }
  .form {
    @apply flex flex-row space-x-4 font-bold mx-auto p-8 mx-40 w-full;
  }
  .form-input {
    @apply bg-accent outline-none rounded-md border-secondary border-2 py-1.5 px-1 text-sm font-medium w-full;
  }

  /* Footer */

  footer {
    @apply text-accent bg-black w-full     backdrop-blur-sm shadow-lg shadow-[0_0px_5px_5px_rgba(0,0,0,0.3)] shadow-dark_green
  }
  footer h2 {
    @apply text-2xl text-accent font-bold;
  }
  footer li {
    @apply text-accent text-left border-b-2 border-transparent hover:border-b-2 hover:border-secondary ;
  }
  
  footer ul {
    @apply flex flex-col text-left items-start;
  }
  .footer-body {
    @apply flex flex-row items-start justify-between w-full p-24;
  }
  .footer-content {
    @apply flex flex-col space-y-8 w-96;
  }
  .footer-content p {
    @apply space-x-8 w-5/6 ;
  }
  .quick-link {
    @apply space-y-8;
  }
  .footer-social {
    @apply flex flex-col space-y-8;
  }
  .footer-social-body {
    @apply flex flex-col items-start justify-between;
  }


